html{
    scroll-behavior: smooth;
    
}
/*Link to write up: https://docs.google.com/document/d/1iAC9PHCfthFRi7zE4Hi2PTQR3I1VcQr9EO9t__LrK0c/edit?usp=sharing */
/*general styles */
body{
    font-size: 18px;
    padding: 0;
    background-size: 7px 7px;
    background-image:
      linear-gradient(to right,rgb(245, 245, 245) 2px, transparent 2px),
      linear-gradient(to bottom, rgb(245,245,245) 2px, transparent 2px);  
      border : 12px;
      border-style : solid;
      border-color:#49BBCC;
  }
/* reduced motion*/
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
  }
/*highlights current page*/
.nav ul li a.activep 
{
  color:#49BBCC;
}

h1{
    font-size: 113px;
    line-height: 1;
    padding: 50px 0;
    color: #49BBCC;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    
h2{
    color: #49BBCC;
    font-size: 24pt;
}

h3{
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    
        

}
p{
    font-size: 24pt;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
        
}

.nav{
    padding: 20px 0;  
    display: inline;
}

nav ul{
    list-style-type: none;
    text-align: right;
    padding:15px;
}
nav li{
    padding-bottom: 30px;
    display: inline;
    margin: 15px;
    text-align: right;
}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
} 
nav a:hover{
    text-decoration: underline;
   
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top:-40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.nav .subnav{
    visibility: hidden;
    display:inline;
    -webkit-transition: visibility 2s ;
    transition: visibility 2s ;
   
    
}

.nav:hover .subnav{
    width:100%;
    visibility:visible
    
   
}
.skip a:focus{
    top: 0px;
}
    
:focus{
    border: 2px solid black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    overflow : hidden;
}

.contact{
    display: flex;
    flex-flow: column wrap;
    border : 12px;
    background-color:#49BBCC ;
    padding : 25px;
    justify-content: center;
    max-width: 100%;
    overflow : hidden;
    
    
    
    
}

.contact fieldset{
    padding:15px;
    font-size: 24pt;
    text-align: center;
    overflow : hidden;
    
}

.cform{
    padding: 15px;
}


#submit{
    width: 100%;
    font-size: 24pt;
    border : 12px;
    border-style : solid;
    border-color: rgb(245, 245, 245);
    padding: 15px;
}

#submit:hover{
    width: 100%;
    font-size: 24pt;
    border : 12px;
    border-style : solid;
    border-color:#49BBCC;
    padding: 15px;
}




/*mobile*/
@media screen and (min-width: 300px){
    .nav ul{
        display:flex;
    }
    /*hides animation*/
    .nav .subnav{
        visibility:hidden
    }
    .nav:hover .subnav{
        visibility: hidden;
    }
    .intro{
        text-align: center;
    }

    .intro p{
        border : 0px;
        padding : 25px;
        margin-left : 0px;
        border-radius: 0px;
        margin-right: 0px;
        text-align: center;
        
    }

    h1{
        font-size: 64px;
        line-height: 1;
        padding: 15px 0;
    }
    /*gride changed for mobile*/
    .container{
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;   
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-gap: 0px;
        text-align: center;
        margin: 0px;
        max-width:100%;

    }
   

    .learn{

        grid-column: 1 / span 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        max-width:100%;
        
        
        
       
        
       
        
    }

    .learn img{
        max-width:100%;
    }



    
    

    .learninfo{
    
        grid-column: 1 / span 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
        
        overflow: hidden;
        
       
        text-align: center;
        
       
        
    }
    
    
    .learninfo p{
        text-align: center;
        
       
       
    }



    
    
    
    .gni{
        grid-column: 1 / span 3;
        grid-row-start: 7;
        grid-row-end: 8;
        overflow: hidden;
        width: 100%;
        text-align: center;
        
    }

    .gni p{
        text-align: center;
       
    }

    .goodnews img{
        max-width:100%;
    }
    
    
    .saleminfo{
        grid-column: 1 / span 3;
        grid-row-start: 11;
        grid-row-end: 12;
        overflow: hidden;
        width: 100%;
        text-align: center;
        
    
    }

    .saleminfo p{
        text-align: center;
        
    }

    .salem img{
        max-width:100%;
    }

    
    .goodnews{
        
        grid-column: 1 / span 3;
        grid-row-start: 5;
        grid-row-end: 6;
        text-align:center;
    }
    
    .salem{
        
        grid-column: 1 / span 3;
        grid-row-start: 9;
        grid-row-end: 10;
        text-align: center;
        
    }
    .nav ul{
        text-align:center;
    }
    .learncontainer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        
    
    }
    .story{
        
        margin: 0px;
        text-align: center;
        padding:15px;
    }

    .team{
        grid-column: 1 span 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0px;
        font-size: 24pt;  
        text-align:center;
        padding:15px;
        
    }

    .team ul{
        list-style:none;
    }

    .objective{
        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        margin:0px;
        font-size: 24pt; 
        text-align:center;
        padding:15px;
        
        
    }
    .objective p{
        font-size: 24pt;
        text-align: center;
    }

    .learncontainer2{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto; 
        padding:15px; 
    }

    .projectsolution{
        grid-column: 1 span 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border : 12px;
        text-align: center;
        
    }

    .transitionimage{
        background-attachment: fixed; 
        background-image:url("../Images/data.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;
        margin: 0px;
        max-width:100%;                
    }

    .transitionimage2{
        background-attachment: fixed; 
        background-image:url("../Images/goodnewspt.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;
        max-width:100%;  
                    
    }

    .transitionimage3{
        background-attachment: fixed; 
        background-image:url("../Images/salempar.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px; 
        max-width:100%;
        
            
    }
    .des{
        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        
        text-align: center;
    }

    .desgn{

        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        text-align: center;
        padding-top: 3px;
       
        
    }
    .desgn img{
        max-width:100%;
        
        
    }

    .next{
        grid-column: 1 span 3;
        grid-row-start: 7;
        grid-row-end: 9;
        
        text-align: center;
        
    }

    
    .introbox{
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        padding: 15px;
        
        
    }

    .introimg img{
        overflow:hidden;
        max-width:100%;
    }
    
    
        
    .aboutbox{
        
        display: flex;
        align-content: space-between;
        flex-flow: column nowrap;
        align-content: space-between;
        overflow:hidden;
        padding: 15px;
       
    }
    .about2 p{
        padding: 0px;
        text-align: center;
        padding:15px;
    }
    
    

    .about2{
        text-align: center;
       
    }

    .abtimg img{
       overflow: hidden;
       max-width:100%;
       
       
        
    }

    

    .problembox{
        
        display: flex;
        flex-wrap: nowrap; 
        align-content: space-between;
        flex-flow: column nowrap;
        overflow:hidden;
        padding: 15px;
       

    }

    
    .problemsolving{
        text-align: center;
        padding: 15px;
    }

    .problemsolving p{
        text-align: center;
        padding: 15px;
    }

    .problemimage img{
        overflow:hidden;
        max-width:100%;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        min-height: 500px;
        background-color:#49BBCC ;
        padding : 25px;
    }


    .gallery > img{
        border: 10px rgb(245, 245, 245) solid;
        margin: 10px;
        width: 300px;
        
    }

    .projects{
        visibility:visible;
    }
    
}
/*tablet*/
@media screen and (min-width: 700px){
    .projects{
        visibility:visible;
    }
    .nav .subnav{
        font-size: 0px;;
        display:inline;
        -webkit-transition: font-size  5s;
        transition: font-size  5s ;
        
       
        
    }

    .projects{
        visibility:visible;
    }
    
    .nav:hover .subnav{
        width:100%;
        visibility:visible;
        font-size:15px;
        
       
    }
    .intro{
        text-align: center;
    }

    .intro p{
        border : 0px;
        padding : 25px;
        margin-left : 0px;
        border-radius: 0px;
        margin-right: 0px;
        text-align: center;
        
    }

    h1{
        font-size: 64px;
        line-height: 1;
        padding: 15px 0;
    }
    .container{
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;   
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-gap: 0px;
        text-align: center;
        margin: 0px;
        max-width:100%;

    }
   

    .learn{

        grid-column: 1 / span 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        max-width:100%;
        
        
        
       
        
       
        
    }

    .learn img{
        max-width:100%;
    }



    
    

    .learninfo{
    
        grid-column: 1 / span 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
        
        overflow: hidden;
        
       
        text-align: center;
        
       
        
    }
    
    
    .learninfo p{
        text-align: center;
        
       
       
    }



    
    
    
    .gni{
        grid-column: 1 / span 3;
        grid-row-start: 7;
        grid-row-end: 8;
        overflow: hidden;
        width: 100%;
        text-align: center;
        
    }

    .gni p{
        text-align: center;
       
    }

    .goodnews img{
        max-width:100%;
    }
    
    
    .saleminfo{
        grid-column: 1 / span 3;
        grid-row-start: 11;
        grid-row-end: 12;
        overflow: hidden;
        width: 100%;
        text-align: center;
        
    
    }

    .saleminfo p{
        text-align: center;
        
    }

    .salem img{
        max-width:100%;
    }

    
    .goodnews{
        
        grid-column: 1 / span 3;
        grid-row-start: 5;
        grid-row-end: 6;
        text-align:center;
    }
    
    .salem{
        
        grid-column: 1 / span 3;
        grid-row-start: 9;
        grid-row-end: 10;
        text-align: center;
        
    }
    .nav ul{
        text-align:left;
    }
    .learncontainer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        
    
    }
    .story{
        
        margin: 0px;
        text-align: center;
        padding:15px;
    }

    .team{
        grid-column: 1 span 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0px;
        font-size: 24pt;  
        text-align:center;
        padding:15px;
        
    }

    .team ul{
        list-style:none;
    }

    .objective{
        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        margin:0px;
        font-size: 24pt; 
        text-align:center;
        padding:15px;
        
        
    }
    .objective p{
        font-size: 24pt;
        text-align: center;
    }

    .learncontainer2{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto; 
        padding:15px; 
    }

    .projectsolution{
        grid-column: 1 span 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border : 12px;
        text-align: center;
        
    }

    .transitionimage{
        background-attachment: fixed; 
        background-image:url("../Images/data.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;
        margin: 0px;
        max-width:100%;                
    }

    .transitionimage2{
        background-attachment: fixed; 
        background-image:url("../Images/goodnewspt.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;
        max-width:100%;  
                    
    }

    .transitionimage3{
        background-attachment: fixed; 
        background-image:url("../Images/salempar.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px; 
        max-width:100%;
        
            
    }
    .des{
        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        
        text-align: center;
    }

    .desgn{

        grid-column: 1 span 3;
        grid-row-start: 4;
        grid-row-end: 6;
        text-align: center;
        padding-top: 3px;
       
        
    }
    .desgn img{
        max-width:100%;
        
        
    }

    .next{
        grid-column: 1 span 3;
        grid-row-start: 7;
        grid-row-end: 9;
        
        text-align: center;
        
    }

    
    .introbox{
        display: flex;
        flex-flow: column nowrap;
        padding: 15px;
       
        
    }
    .introimg{
    
    text-align: right;
    
    }
    .aboutbox{
        
        display: flex;
        align-content: space-between;
        flex-flow: column nowrap;
        align-content: space-between;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        padding:15px;
    }
    .about2 p{
        
        text-align:center;
        padding:15px;
    }
    
    .abtimg{
       
        text-align: center;
    }

    .about2{
        text-align: center;
    }

    .problembox{
        
        display: flex;
        flex-wrap: nowrap; 
        align-content: space-between;
        flex-flow: column nowrap;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        padding:15px;

    }

    .problemimage{
       
        text-align: center;
    }

    .problemsolving{
        text-align: center;
    }

    .problemsolving p{
        text-align: center;
        padding:15px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        min-height: 500px;
        background-color:#49BBCC ;
        
        padding : 25px;
    }



    .gallery > img{
        border: 10px rgb(245, 245, 245) solid;
        margin: 10px;
        width: 300px;
        
    }
    
}
/*laptop*/
@media screen and (min-width: 1400px){
    .nav .subnav{
        font-size: 0px;;
        display:inline;
        -webkit-transition: font-size  5s;
        transition: font-size  5s ;
        
       
        
    }

    .projects{
        visibility:visible;
    }
    
    .nav:hover .subnav{
        width:100%;
        visibility:visible;
        font-size:15px;
        
       
    }
    .nav ul{
        text-align:left;
    }
   /*grid*/
    .container{
        padding-top : 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;   
        grid-template-rows: 1fr 1fr 1fr;
        width: 100vw; 
        
    }


    .intro{
        max-height: 700px;
        text-align: center; 
    }

    .intro p{
        border : 7px;
        border-style : solid;
        border-color:#49BBCC;
        padding : 75px;
        margin-left : 500px;
        border-radius: 50px;
        margin-right: 15px;
        padding: 25px;
    }

    .learn{
        
        grid-column: 1 / span 2;
        grid-row-start: 1;
        grid-row-end: 1;
        max-height: 700px;
        overflow: hidden;
        width: 100%;
        text-align: right;
        padding-bottom: 100px; 
    }


    .learninfo{
        
        grid-column: 3 / span 4;
        grid-row-start: 1;
        grid-row-end: 1;
        max-height: 700px;
        overflow: hidden;
        width: 100%;
        text-align: left;
        
    }


    .learninfo p{
        margin-right:300px;
        padding-top: 0px;
        text-align: left;
    }

    .gni{
        grid-column: 3 / span 4;
        grid-row-start: 2;
        grid-row-end: 2;
        max-height: 700px;
        overflow: hidden;
        width: 100%;
        text-align: left;
        
    }

    .gni p{
        margin-right:300px;
        padding-top: 0px; 
        text-align: left;
    }
    .salem{
        
        grid-column: 1 / span 2;
        grid-row-start: 3;
        grid-row-end: 3;
        max-height: 700px;
        overflow: hidden;
        text-align: right;
    }
    .saleminfo{
        grid-column: 3 / span 4;
        grid-row-start: 3;
        grid-row-end: 3;
        max-height: 700px;
        overflow: hidden;
        width: 100%;
        text-align: left;

    }

    .saleminfo p{
        margin-right:300px;
        padding-top: 0px;
        text-align: left;
    }
    .goodnews{
        
        grid-column: 1 / span 2;
        grid-row-start: 2;
        grid-row-end: 2;
        max-height: 700px;
        overflow: hidden;
        width: 100%;
        text-align: right;
    }


    .learncontainer{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        border-top : 12px;
        border-bottom: 12px;
        border-style : solid;
        border-color:#49BBCC;
        

    
    }

    .team{
        grid-column: 1 span 1;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 24pt; 
        margin-top: 25%;
        text-align:right;
        
        
    }

    .team li{
        text-align:right;
        
    }

    .team ul{
        text-align:left;
        list-style:none;
        padding:15px;
    }

    .team p{
        text-align: center;
    }


    .objective{
        grid-column: 2 span 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin:100px;
        font-size: 24pt; 
        border : none;
    }
    .objective p{
        font-size: 24pt;
        text-align: left;
    }

    

    .learncontainer2{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
          
    }

    .projectsolution{
        grid-column: 1 span 2;
        grid-row-start: 1;
        grid-row-end: 2;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        text-align: center;
        padding:15px;
    }

    .transitionimage{
        background-attachment: fixed; 
        background-image:url("../Images/data.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;
        margin: 0px;                
    }

    .transitionimage2{
        background-attachment: fixed; 
        background-image:url("../Images/goodnewspt.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px;  
                    
    }

    .transitionimage3{
        background-attachment: fixed; 
        background-image:url("../Images/salempar.png");  
        background-position: center;  
        background-repeat: no-repeat; 
        background-size: cover;       
        color: white;
        height: 500px; 
            
    }
    .des{
        grid-column: 1 span 2;
        grid-row-start: 3;
        grid-row-end: 4;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        
        text-align: center;
        padding:15px;
    }

    .des p{
        padding:15px;
    }

    .desgn > img{
        margin: 0px;
        max-width: 100%;
        
        
    }

    .desgn{
        grid-column: 1 span 2;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        max-width: 100%;
    }

    .next{
        grid-column: 1 span 2;
        grid-row-start: 7;
        grid-row-end: 8;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        
        text-align: center;
        padding:15px;
    }

    .story{
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        margin: 200px;
        text-align: center;
        padding:15px;
    }
/*flex*/
    .introbox{
        display: flex;
        flex-flow: column nowrap;
        padding: 15px;
       
        
    }
    .introimg{
    
    text-align: right;
    
    }
    .aboutbox{
        margin: 150px;
        display: flex;
        align-content: space-between;
        flex-flow: column nowrap;
        align-content: space-between;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        padding:15px;
    }
    .about2 p{
        
        text-align:center;
        padding:15px;
    }
    
    .abtimg{
       
        text-align: center;
    }

    .about2{
        text-align: center;
    }

    .problembox{
        margin: 165px;
        display: flex;
        flex-wrap: nowrap; 
        align-content: space-between;
        flex-flow: column nowrap;
        border : 12px;
        border-style : solid;
        border-color:#49BBCC;
        padding:15px;

    }

    .problemimage{
       
        text-align: center;
    }

    .problemsolving{
        text-align: center;
    }

    .problemsolving p{
        text-align: center;
        padding:15px;
    }
/*gallery*/
    .gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        min-height: 500px;
        background-color:#49BBCC ;
        
        padding : 25px;
    }


    .gallery > img{
        border: 10px rgb(245, 245, 245) solid;
        margin: 10px;
        width: 300px;
        
    }
    
}

